

/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-padding: 5 2 5 2;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

.scroll-bar > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}


/*******************************************************************************
*                                                                              *
* JFX List View                                                                *
*                                                                              *
*******************************************************************************/

.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: BLACK;
}

.jfx-list-cell:odd,
.jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.jfx-list-cell:filled:hover,
.jfx-list-cell:selected .label {
    -fx-text-fill: white;
}

.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #ff3a3a;
}


.jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: #ff3a3a60;
}

.jfx-list-view {
    -fx-background-insets: 0.0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10.0;
    -jfx-expanded: false;
}

.custom-jfx-list-view .jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.custom-jfx-list-view .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(255, 0, 0, 0.2);
}

.custom-jfx-list-view {
    -fx-background-insets: 0.0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-expanded: false;
    -fx-max-width: 200.0px;
    /* important to hide the list change of height */
    -fx-background-color: TRANSPARENT;
}

.custom-jfx-list-view .jfx-rippler {
    -jfx-rippler-fill: RED;
}

.custom-jfx-list-view1 {
    -jfx-vertical-gap: 10.0;
    -fx-pref-width: 150px;
    -fx-background-color: transparent;
}

.custom-jfx-list-view-icon,
.jfx-list-cell:selected .label .custom-jfx-list-view-icon {
    /*-fx-text-fill: #5264AE;*/
    -fx-fill: #5264AE;
    -fx-padding: 0.0 10.0 0.0 5.0;
    -fx-cursor: hand;
}

.custom-jfx-list-view-icon-container {
    -fx-pref-width: 40px;
}

.custom-jfx-list-view .sublist-item {
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1 0 1 0;
}

.custom-jfx-list-view .jfx-list-cell .sublist-header > .drop-icon {
    -fx-background-color: GRAY;
}

.custom-jfx-list-view .jfx-list-cell:filled:hover .sublist-header > .drop-icon {
    -fx-background-color: BLACK;
}





/*******************************************************************************
*                                                                              *
* Mine                                                                         *
*                                                                              *
*******************************************************************************/
.root {
    -fx-background-color: white;
}

.jfx-spinner {

    -fx-cursor: hand;
}

.combo-box-popup .list-view .jfx-list-cell {
    -fx-text-fill: black;
}

.button {
    -fx-cursor: hand;
}

/*#choosePane .button {*/
/*    -fx-cursor: hand;*/
/*    -jfx-button-type: RAISED;*/
/*    -fx-text-fill: rgb(49, 194, 124);*/
/*}*/

#keywordInput {
    -fx-background-color: transparent;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: bottom-left;
    -fx-font-size: 14px;
    -jfx-focus-color: #ff3a3a;
    -jfx-unfocus-color: #4d4d4d;
}

#bottomHbox {

}

#logo {
    -fx-cursor: hand;
}

#resultTable, #table {
    -fx-tree-table-color: rgba(255, 58, 58, 0.4);
    -fx-tree-table-rippler-color: rgba(255, 58, 58, 0.6);
}

.image-view {
    -fx-cursor: hand;
}

#timeSlider, #volControl{
    -jfx-default-thumb: #ff3a3a;
    -jfx-default-track: #cccccc;
}

#searchBtn, #download {
    -fx-background-color: #ff3a3a;
    -fx-text-fill: white;
}

#chooseDirBtn {
    /*-fx-background-color: rgb(49, 194, 124);*/
    /*-fx-text-fill: white;*/
}

#choice_tencent {

}

#choice_netease {
    -jfx-selected-color: #ff3a3a;
}

#choice_kugou {
    -jfx-selected-color: rgb(52, 133, 255);
}

#choice_kuwo {
    -jfx-selected-color: rgb(254, 182, 54);
}

#choice_baidu {
    -jfx-selected-color: rgb(48, 196, 189);
}